.food {
  height: 100%;
  width: 100%;
}

.food img {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .food img {
    animation: food-img-spin infinite 5s linear;
  }
}

@keyframes food-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
