.App {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-content {
  flex-grow: 1;
}
